<div style="margin-top: 20px;">
	<div style="text-transform: uppercase; font-weight: bold; border-bottom: 1px solid #000000; margin-bottom: 10px; display: inline-block;">Next Steps</div>
	<ol>
		<li>
			<b><span style="color: #ED3E72">Shortlist</span></b>:
			Shortlist your choices. Get your clarifications from our expert planning team (if any).
		</li>
		<li>
			<b><span style="color: #ED3E72">Avail. Check</span></b>:
			We will check availability of option(s) you finalize.
		</li>
		<li>
			<b><span style="color: #ED3E72">Order Process</span></b>:
			If option(s) available, an email with order details will be sent.
		</li>
		<li>
			<b><span style="color: #ED3E72">Book</span></b>:
			Securely pay advance amount to block your slot.
		</li>
		<li>
			<b><span style="color: #ED3E72">Relax & Enjoy</span></b>:
			A coordinator will be assigned to take care of your party.
		</li>
	</ol>
</div>