/**
 * RESET CSS
 */

html {
	height: 100%;
}

body {
	overflow: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: default;
}

.chromeframe {
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
	padding: 10px 0;
	text-align: center;
	color: #FFFFFF;
	background-color: #FF0000;
}

.chromeframe a {
	text-decoration: underline;
	color: #FFFF00;
}

/**
 * OVERIDE
 */
.borderradius .navbar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

/**
 * FONT FACES
 */

/*@font-face {*/
/*	font-family: 'sommet-rounded';*/
/*	font-weight: normal;*/
/*	font-style: normal;*/

/*	src: url(/fonts/sommet/sommetroundedregular-webfont.eot);*/
/*	src: url(/fonts/sommet/sommetroundedregular-webfont.eot#iefix) format('eot'), url(/fonts/sommet/sommetroundedregular-webfont.woff) format('woff'), url(/fonts/sommet/sommetroundedregular-webfont.ttf) format('truetype'), url(/fonts/sommet/sommetroundedregular-webfont.svg#SommetNormal) format('svg');*/
/*}*/

/*@font-face {*/
/*	font-family: 'sommet-light';*/
/*	font-weight: normal;*/
/*	font-style: normal;*/

/*	src: url(/fonts/sommet/sommetlight-webfont.eot);*/
/*	src: url(/fonts/sommet/sommetlight-webfont.eot#iefix) format('eot'), url(/fonts/sommet/sommetlight-webfont.woff) format('woff'), url(/fonts/sommet/sommetlight-webfont.ttf) format('truetype'), url(/fonts/sommet/sommetlight-webfont.svg#SommetLight) format('svg');*/
/*}*/

/**
 * APPLICATION CSS
 */

.application {
	background-color: #FFFFFF;
}

.scrollup {
	position: fixed;
	right: 10px;
	bottom: 50px;
	display: none;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	opacity: .75;
	background: url('http://gallery.evibe.in/img/icons/icon_top.png') no-repeat;
}

.application {
	position: relative;
	min-height: 100%;
}

.caret-up {
	content: '';
	border-top: 0 dotted;
	border-bottom: 4px solid #000000;
}

.container-wrap {
	margin: 40px 0;
	min-height: 600px;
}

/**
 * TABS
 */
.app-tabs {
	/*margin-bottom: 20px;*/
}

/**
 * NEARBY AREAS
 */
.areas-tags {
	margin-top: 10px;
}

.areas-tags li {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 4px;
	padding: 4px 6px;
	border: 1px solid #333333;
	background-color: #F0F0F0;
}

.label-tag {
	background-color: #5BC0DE;
	display: inline-block;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	margin-bottom: 5px !important;
	padding: 0.2em 0.6em 0.3em;
}

.inner-header {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
	text-align: center;
	font-family: "Courier New", Courier, monospace
}

.inner-header ul li {
	margin-left: 10px;
}

.inner-header a {
	text-decoration: none;
	color: white;
	padding: 4px 8px;
	background: #11A1D6;
	border-radius: 4px;
	border: 2px solid #11A1D6;
}

.inner-header a:hover {
	background: white;
	border: 2px solid #11A1D6;
	border-radius: 4px;
	color: #11A1D6;
}

.evibe-info {
	background: #34B6C7;
	color: #FFFFFF;
	font-size: 14px;
	padding: 6px;
	margin-left: 10px;
}

.evibe-badge {
	background-color: #FFFFFF;
	color: #ED3E72;
	margin: 2px 0 0 2px;
}

.evibe-info-text {
	color: #34B6C7;
	font-size: 13px;
}

.btn-dark-red {
	padding: 5px 10px;
	color: #FFFFFF;
	background: #FF1F1F;
}

.btn-dark-red:hover {
	color: #FFFFFF;
	background: #FF4511;
}

.text-mandatory {
	color: #FF1111;
}

.word-break {
	word-break: break-all;
}

.small-input {
	width: 100px;
	padding: 4px 6px;
}

.small-input:active, .small-input:focus, .small-input:focus:active {
	border: 2px solid #00BCD4;
	outline: 2px solid #00BCD4;;
}

/* === google places drop-down === */
.pac-container {
	z-index: 1042;
}

.ribbon-2 {
	position: absolute;
	width: 150px;
	height: 50px;
}

.ribbon-2 span {
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	width: 100px;
	display: block;
	background: #14455B;
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 19px;
	left: -8px;
}

.ribbon-2 span::before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border-bottom: 8px solid #14455B;
	border-left: 8px solid transparent;
	top: -8px;
	left: 0;
}

.new-package-list-info {
	border: 1px solid #C5C5C5;
}

.new-package-list-info .title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.partner-response-wrap:before {
	content: " ";
	width: 0;
	height: 0;
	border-right: 12px solid transparent;
	border-bottom: 11px solid #E0F1D8;
	position: absolute;
	top: -11px;
	left: -1px;
}

.partner-response-wrap {
	position: relative;
	background-color: #E0F1D8;
}

.delete-revamp-tag:hover, .tags-revamp-section .panel-heading:hover {
	cursor: pointer;
}

.list-top-filters a {
	text-decoration: none;
	color: #333333;
	font-size: 18px;
	margin-right: 15px;
	text-transform: uppercase;
	padding-bottom: 5px;
}

.list-top-filters .active {
	border-bottom: 5px solid #34B6C7;
}

.list-side-filters {
	border: 1px solid #D3D3D3;
}

.list-filter-title {
	font-size: 16px;
	font-weight: 600;
}

.list-filter-sub-title {
	font-size: 13px;
	font-weight: 600;
}

.list-filter-sub-body label {
	font-weight: normal;
}

.list-filter-hr {
	margin: 20px 0;
}

.list-filter-sub-body .selectize-control {
	min-width: 190px;
}

.list-header {
	font-size: 28px;
	font-weight: 400;
	text-transform: capitalize;
}

.adjustments-wrap .ticket-wrap,
.booking-settlements-wrap .ticket-wrap {
	margin-bottom: 20px;
}

.adjustments-wrap .ticket-wrap:hover,
.booking-settlements-wrap .ticket-wrap:hover {
	box-shadow: 0 0 6px #D3D3D3;
}

.finance-status {
	font-size: 14px;
	border: 1px dashed;
	padding: 0 5px;
	display: inline-block;
	border-radius: 5px;
}

.finance-list-info {
	background-color: #D9EDF7;
	padding: 8px 10px;
	margin-bottom: 15px;
}

.pending-settlement-wrap .top-sec {
	background-color: #FF4141 !important;
}

.modal .finance-list-info ul {
	margin-bottom: 0;
}

/* finance section loader */
.finance-loader-wrap {
	z-index: 1050;
	height: 100%;
	width: 100%
}

.loader-animation-wrap {
	position: absolute;
	display: inline-block;
	background-color: #FBFBFB;
	border-radius: 100%;
	height: 45px;
	width: 45px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.loader-animation {
	height: 100%;
	width: 100%;
}

.booking-status {
	color: red;
	border: 1px dashed red;
	padding: 2px;
}

.order-tracking-provider-filter .selectize-control {
	min-width: 0 !important;
}

.cancelled-booking-settlement {
	background-color: red;
}

.cancelled-info-box {
	padding: 2px 10px;
	background-color: red;
}

.qs-no-booking-msg {
	text-align: center;
	font-size: 20px;
	color: orange;
	border: 1px solid orange;
	padding: 10px;
	margin: 0 15px;
}

.modal-help-text-container {
	border: 1px solid #EFEFEF;
	border-radius: 5px;
	padding: 10px 0 5px 0;
	color: #999999;
}

td.details-control {
	background: url('https://gallery.evibe.in/img/icons/details_open.png') no-repeat center center;
	cursor: pointer;
}

tr.shown td.details-control {
	background: url('https://gallery.evibe.in/img/icons/details_close.png') no-repeat center center;
}

div.slider {
	display: none;
}

table.dataTable tbody td.no-padding {
	padding: 0;
}

.customer-proof-img {
	height: 100%;
	width: 100%;
}

.customer-proof-img-wrap {
	height: 100px;
}

.customer-proofs-images-wrap,
.customer-proof-validation-wrap,
.customer-proofs-cta-wrap {
	border: 1px solid #DDDDDD;
}

.customer-proof-container {
	border: 1px solid #DDDDDD;
	padding: 5px;
}

.decor-edit-info-wrap iframe {
	min-height: 500px;
}

.product-booking-heading {
	font-size: 18px;
	display: inline-block;
	border-radius: 2px;
	background: #D8D8D8;
	margin-right: 50px;
	padding: 10px;
}

.list-sort-arrow:hover {
	cursor: pointer;
}

.avail-check-info-cell {
	max-height: 150px;
	overflow: scroll;
}

.review-mapping-img-wrap {
	height: 120px;
	width: 120px;
}

.review-mapping-img {
	height: 100%;
	width: 100%;
}

.star-order-highlight-wrap {
	border: 1px solid;
	display: inline-block;
	padding: 4px 8px;
	color: red;
}

.sales-metrics-data td {
	padding: 2px !important;
}

.ticket-status-metric-wrap {
	cursor: pointer;
	text-decoration: none;
}

.ticket-status-metric-wrap:hover {
	text-decoration: underline;
}