/**
 * APPLICATION HEADER
 */

header .navbar-inverse .navbar-nav>.active>a,
header .navbar-inverse .navbar-nav>.active>a:hover,
header .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #454545;
}