.iq-container {
    background-color :#f5f5f5;
    padding: 0;
}
.iq-list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    height: auto;
    margin-bottom: 6px;
    padding: 0 10px 0 10px;
}

.iq-list li.strike {
    background-color: #e9e9e9;
}
.iq-list li.strike .iq-info,
.iq-list li.strike .iq-q,
.iq-list li.strike .iq-ans{
    text-decoration: line-through;
}
.iq-list li:last-child {
    border-bottom: none;
    margin: 0;
}
.iq-info
{
    font-weight: normal;
    font-size: 11px;
    color:#3a3427;
}
.iq-ans
{
    color:#698198;
}