/* CSS for multiple pages */

/* Title sec */
.page-content .panel-title { font-size: 20px; }
.page-content .title-sec {
	padding-bottom: 15px;
	border-bottom: 1px solid #DDDDDD;
}
.u-seach-box { width: 280px; }
.u-sort-options {
	display: inline-block;
	margin-right: 10px;
}