/**
 * UTILITY CLASSES
 */

html, body {
	height: 100%;
}

.in-blk {
	display: inline-block;
}

.inline {
	display: inline;
}

.valign-top {
	vertical-align: top;
}

.valign-mid {
	vertical-align: middle;
}

.valign-bottom {
	vertical-align: bottom !important;
}

.btn .ml2 {
	margin-left: 2px;
}

::selection {
	background: #E1BAFF;
}

::-moz-selection {
	background: #FF9D9F;
}

.btn-evibe {
	color: #FFFFFF;
	background-color: #ED3E72;
	text-transform: uppercase;
	font-weight: 400;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-evibe:hover {
	color: #FFFFFF;
	background-color: #ED3E72;
	border-color: #9442CA;
}

.btn-evibe:focus {
	color: #FFFFFF;
}

.hr-dark {
	border-top: 1px solid #CCCCCC;
	margin: 10px 0;
}

.ls-none {
	list-style: none;
	padding: 0;
	margin: 0;
}

.evibe-txt {
	text-transform: none;
}

.text-red {
	color: red;
}

.text-green {
	color: #16B64A;
}

.text-grey {
	color: #808080;
}

.text-black {
	color: #000000;
}

.text-upr {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-normal {
	font-weight: normal;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.text-right {
	text-align: right;
}

.text-strike {
	text-decoration: line-through;
}

textarea.vertical-resize {
	resize: vertical;
}

.font-1 {
	font-size: 1px;
}

.font-10 {
	font-size: 10px;
}

.font-11 {
	font-size: 11px;
}

.font-12 {
	font-size: 12px;
}

.font-13 {
	font-size: 13px;
}

.font-13-imp {
	font-size:13px !important;
}

.font-14 {
	font-size: 14px;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}

.font-22 {
	font-size: 22px;
}

.font-24 {
	font-size: 24px;
}

.font-28 {
	font-size: 28px;
}

.first-letter-upper:first-letter {
	text-transform: uppercase;
}

.pos-rel {
	position: relative;
}

.confirm {
	background-color: #3A87AD;
}

.booked {
	background-color: #3AAD3F;
}

.font-green {
	color: #1FB521 !important;
}

/* Border */
.border-none {
	border: none !important;
}

/* Padding */
.no-pad {
	padding: 0 !important;
}

.no-pad-l {
	padding-left: 0;
}

.no-pad-b {
	padding-bottom: 0;
}

.no-pad-r {
	padding-right: 0;
}

.no-pad-b {
	padding-bottom: 0;
}

.no-pad-t {
	padding-top: 0;
}

.pad-tb-10 {
	padding: 10px 0;
}

.pad-4-10 {
	padding: 4px 10px;
}

.pad-10 {
	padding: 10px;
}

.pad-5 {
	padding: 5px;
}

.pad-6 {
	padding: 6px;
}

.pad-8 {
	padding: 8px;
}

.pad-l-3 {
	padding-left: 3px;
}

.pad-l-5 {
	padding-left: 5px;
}

.pad-l-10 {
	padding-left: 10px;
}

.pad-l-15 {
	padding-left: 15px;
}

.pad-l-18 {
	padding-left: 18px;
}

.pad-l-20 {
	padding-left: 20px;
}

.pad-r-3 {
	padding-right: 3px;
}

.pad-r-5 {
	padding-right: 5px;
}

.pad-r-6 {
	padding-right: 6px;
}

.pad-r-10 {
	padding-right: 10px;
}

.pad-r-15 {
	padding-right: 15px;
}

.pad-r-20 {
	padding-right: 20px;
}

.pad-r-40 {
	padding-right: 40px;
}

.pad-t-3 {
	padding-top: 3px;
}

.pad-t-5 {
	padding-top: 5px;
}

.pad-t-8 {
	padding-top: 8px;
}

.pad-t-10 {
	padding-top: 10px;
}

.pad-t-15 {
	padding-top: 15px;
}

.pad-t-20 {
	padding-top: 20px;
}

.pad-t-30 {
	padding-top: 30px;
}

.pad-b-4 {
	padding-bottom: 4px;
}

.pad-b-5 {
	padding-bottom: 5px;
}

.pad-b-10 {
	padding-bottom: 10px;
}

.pad-b-15 {
	padding-bottom: 15px;
}

.pad-b-20 {
	padding-bottom: 20px;
}

.pad-b-30 {
	padding-bottom: 30px;
}

/* Margin */
.no-mar {
	margin: 0;
}

.mar-t-5 {
	margin-top: 5px
}

.mar-t-10 {
	margin-top: 10px;
}

.mar-t-15 {
	margin-top: 15px;
}

.mar-t-20 {
	margin-top: 20px;
}

.mar-t-25 {
	margin-top: 25px;
}

.mar-t-30 {
	margin-top: 30px;
}

.mar-t-15-n {
	margin-top: -15px;
}

.mar-r-2 {
	margin-right: 2px;
}

.mar-r-4 {
	margin-right: 4px;
}

.mar-r-5 {
	margin-right: 5px;
}

.mar-r-10 {
	margin-right: 10px;
}

.mar-r-15 {
	margin-right: 15px;
}

.mar-r-20 {
	margin-right: 20px;
}

.no-mar-b {
	margin-bottom: 0 !important;
}

.no-mar-t {
	margin-top: 0 !important;
}

.no-mar-l {
	margin-left: 0 !important;
}

.no-mar-r {
	margin-right: 0 !important;
}

.mar-b-5 {
	margin-bottom: 5px;
}

.mar-b-6 {
	margin-bottom: 6px;
}

.mar-b-10 {
	margin-bottom: 10px;
}

.mar-b-15 {
	margin-bottom: 15px;
}

.mar-b-20 {
	margin-bottom: 20px;
}

.mar-b-30 {
	margin-bottom: 30px;
}

.mar-l-20 {
	margin-left: 20px;
}

.mar-l-15 {
	margin-left: 15px;
}

.mar-l-10 {
	margin-left: 10px;
}

.mar-l-5 {
	margin-left: 5px;
}

.option-clear {
	position: absolute;
	top: 16px;
	right: -30px;
	cursor: auto;
	z-index: 999;
}

.alert-default {
	border: 1px solid #CCCCCC;
	padding: 15px;
	background-color: #F9F9F9;
}

.rupee-font {
	margin-right: -1px;
	display: inline-block;
}

.btn-evibe-info {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	background: #34B6C7;
	padding: 4px 6px;
	border-radius: 2px;
	border: 2px solid #34B6C7;
}

.btn-evibe-info:hover {
	color: #34B6C7;
	background: white;
	border: 2px solid #34B6C7;
}

input[type="checkbox"].no-style-checkbox {
	margin: 0;
}

.border-grey {
	border: 1px solid #D3D3D3;
}

.border-red {
	border: 1px solid red;
}

.text-lower {
	text-transform: lowercase !important;
}

.no-pad-t {
	padding-top: 0 !important;
}

.text-white {
	color: white;
}

.row-heading {
	text-transform: uppercase;
	background: #E8DAFF;
	color: #464646;
	letter-spacing: 1px;
}

.table-fixed {
	table-layout: fixed;
}

.full-width {
	width: 100%;
}

.width-80-imp {
	width: 80% !important;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}

.hr-text:before {
	content: '';
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

.lh-26 {
	line-height: 26px;
}

.no-border {
	border: none;
}

.a-no-decoration a {
	color: #ffffff;
}