/**
 * CSS for decors module
 *
 * @author Anji
 * @since 16 Sep 2015
 */

/* Listings */
.a-decor {
	position: relative;
	width: 250px;
	margin: 0 10px 15px 0;
	border: 1px solid #C9C9C9;
	background-color: #F5F5F5;
}

.a-decor img {
	width: 100%;
	height: 180px;
}

.a-decor .title {
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
}

.a-decor .status {
	font-size: 12px;
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 3px 6px;
}

.a-decor .status.active {
	color: #F5F5F5;
	background-color: #3C763D;
}

.a-decor .status.inactive {
	color: #F5F5F5;
	background-color: #A94442;
}

.a-decor .pricing {
	font-size: 16px;
	padding-top: 5px;
}

.a-decor .range-info {
	cursor: pointer;
	color: #979797;
}

.a-decor .provider {
	padding: 8px 0;
	text-align: center;
	background-color: #D9D9D9;
}

/* Details */
.decor-page-content .sec-head {
	margin-bottom: 10px;
}

.decor-page-content .location,
.decor-page-content .pricing {
	font-size: 24px;
}

.decor-page-content .pricing {
	font-weight: bold;
	margin: 10px 20px 10px 0;
}

.decor-page-content .pricing .worth {
	margin-right: 10px;
	text-decoration: line-through;
}

.decor-page-content .alert-range-info {
	margin-bottom: 0;
	padding: 5px 10px;
}

/* gallery */
.decor-page-content .upload-img-wrap {
	width: 70%;
}

.decor-page-content .image-cnt {
	position: relative;
	display: inline-block;
	width: 220px;
	margin-right: 10px;
	margin-bottom: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	border: 1px solid #C9C9C9;
}

.decor-page-content .image-cnt .an-image {
	width: 200px;
	height: 150px;
}

.decor-page-content .image-link {
	overflow: hidden;
	width: 80%;
	margin: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.decor-page-content .image-cnt .profile-label {
	position: absolute;
	top: 10px;
	left: 10px;
}

.decor-page-content .sec-body .sub-sec {
	padding: 10px;
	border: 1px solid #D9D9D9;
	background-color: #FAFAFA;
}

.decor-page-content .image-cnt .img-actions {
	padding-top: 5px;
}

/* tags */
.decor-page-content .tags-list li {
	font-size: 15px;
	font-weight: normal;
	margin-right: 4px;
	margin-bottom: 8px;
}

.filter-price {
	font-size: 12px;
	width: 90px;
	padding: 5px;
}

.filter-price-btn-wrap {
	margin: 5px 0 0 5px;
	vertical-align: top;
}