/* CSS for packages section */

/**
 * List of packages
 */
.filter-tag-value { font-weight: normal; }

.package-wrap {
	border: 1px solid #D9D9D9;
	background-color: #F9F9F9;
	padding: 10px;
}
.package-wrap:not(last-child) { margin-bottom: 30px; }

/* top sec */
.package-wrap .title {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* mid sec */
.package-wrap .mid-sec { font-size: 16px; }

/* bottom sec */
.package-wrap .bottom-sec {
	background-color: #F0F0F0;
	padding: 4px 0;
}
.package-wrap .sub-sec-title+div { font-size: 18px; }

.btn-pck { margin-right: 10px; }
.trend-cnt,
.package-cnt {
	margin-bottom: 25px;
	padding: 10px;
	border: 1px solid #DDD;
	background-color: #F8F8F8;
}
.item-label { text-align: right; }
.gallery-item {
	margin: 10px;
	width: 120px;
	height: 100px;
}
.package-service { padding-bottom: 10px; }
.package-service:last-child { padding-bottom: 0; }
.package-tag {
	padding: 4px;
	border: 1px solid #DDD;
	background-color: #F8F8F8;
	margin-right: 6px;
}
.add-package-tag:first-child, .add-package-service:first-child { margin-top: 10px; }
.add-package-tag:last-child, .add-package-service:last-child { margin-bottom: 0; }
.add-package-tag, .add-package-service {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin-bottom: 10px;
}

.auto-book-item-header
{
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	text-shadow:2px;
	padding:10px;
	background:#6f867d;
	color:#ffffff;
}
.auto-book-item-header .item-count
{
	background: #ffffff;
	color:#000;
}