/* Css for analytics module */
.analytics-wrap {
	min-height: 500px;
}

.analytics-dates {
	margin: 20px 0 40px 0;
	text-align: center;
}

.analytics-data {
	margin: 20px 0;
}

.analytics-data .table-responsive {
	max-height: 350px;
}

/* 1366 is resolution of hd screen*/
.analytics-higher-wrap {
	padding-bottom: 120px;
	max-width: 1366px;
}

@media (min-width: 1366px) {
	.analytics-higher-wrap {
		margin-left: calc(50% - 683px);
	}
}