/* CSS for Package View */
.packages-row {
	margin-top: 20px;
}

.packages-row:first-child {
	margin-top: 0;
}

.package-wrap {
	padding: 10px;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
}

/* TOP */
.package-title a,
.package-title a:hover {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

.button-right {
	float: right;
	position: relative;
}

.carousel-imgs {
	margin-top: 20px;
	height: 225px;
}

.carousel-imgs .item,
.pkg-carousel-height {
	height: 200px;
	max-width: 100%;
}

.pkgllist-col {
	padding: 10px;
	background-color: yellow;
}

.pkg-text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	display: block;
}

.pkg-row {
	padding-top: 10px;
}

.pkglist {
	padding: 10px;
}

.no-pkg-found {
	padding: 20px;
	background-color: yellow;
	border-radius: 10px;
}

.pkg-search-width {
	width: 250px;
}

.top-bar {
	/*background-color: #232723;*/
	padding: 10px;
	border: 1px solid #DDDDDD;
}

.pkg-left-pane {
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
}

.pkg-left-tab {
	padding: 15px;
	/*	border: 1px solid #DDDDDD;*/
}

.package-item-wrap {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid #535050;
	border-radius: 5px;
}

.package-item-heading {
	border-bottom: 2px solid #DDDDDD;
	padding: 10px;
}

.package-item-body {
	padding: 10px;
}

.service-cnt {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #ECD6EA;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
}

.label-event {
	background-color: #ED3E72;
	display: inline-block;
	margin-bottom: 5px;
	padding: 4px;
	border-radius: 4px;
	color: white;
	font-weight: 500;
}

.pkg-container .pricing {
	font-weight: bold;
	font-size: 24px;
}

.pkg-container .worth {
	text-decoration: line-through;
	padding-left: 10px;
}

.pkg-container .location {
	padding-left: 20px;
	font-weight: bold;
	font-size: 24px;
}

.pkg-container .sec-body .sub-sec {
	padding: 10px;
	border: 1px solid #D9D9D9;
	background-color: #FAFAFA;
}

.a-package {
	margin-bottom: 15px;
	border: 1px solid #C9C9C9;
	background-color: #F5F5F5;
}

.a-package img {
	width: 100%;
	height: 120px;
}

.a-package .title {
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
}

.a-package .status {
	font-size: 10px;
	position: absolute;
	top: 6px;
	right: 20px;
	padding: 3px 5px;
}

.a-package .status.active {
	color: #F5F5F5;
	background-color: #3C763D;
}

.a-package .status.inactive {
	color: #F5F5F5;
	background-color: #A94442;
}

.a-package .pricing {
	padding-top: 5px;
}

.a-package .range-info {
	cursor: pointer;
	color: #979797;
}

.a-package .provider {
	padding: 8px 0;
	text-align: center;
	background-color: #D9D9D9;
}

.parent-tag {
	color: #292929;
	font-size: 15px;
}

.package-heading {
	font-size: 16px;
}

.package-heading li {
	text-transform: uppercase;
}

.package-heading li:nth-child(2),
.package-heading li:nth-child(3) {
	margin-left: 20px;
}

.package-heading .active {
	padding-bottom: 4px;
	border-bottom: 4px solid #34B6C7;
}

.col-center {
	float: none;
	margin: 0 auto;
}

.package-heading a {
	text-decoration: none;
	color: #000000;
}

.package-heading .active {
	padding-bottom: 4px;
	border-bottom: 4px solid #34B6C7;
}

.package-field-validation .text {
	padding: 3px;
	width: 60px;
	border: 1px solid #888888;
}

.package-field-validation .validation-wrap label {
	margin-right: 30px;
}

.child-field-wrap hr {
	margin-bottom: 0;
	border-color: #DDDDDD;
}

.card-items {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
	color: #0A0A0A;
	margin: 10px;
	float: left;
	width: 30%;
	background: #FEFEFE;
	word-break: break-all;
}

.card-items .name {
	display: inline-block;
	background: #F2F2F2;
	padding: 10px;
	margin-right: 5px;
	font-size: 16px;
	font-weight: 400;
}

.occasion-header {
	font-size: 18px;
	color: #8C8C8C;
}

.package-page-content .image-cnt {
	position: relative;
	display: inline-block;
	width: 220px;
	margin-right: 10px;
	margin-bottom: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	border: 1px solid #C9C9C9;
}

.package-page-content .image-cnt .an-image {
	width: 200px;
	height: 150px;
}

.package-page-content .image-cnt .profile-label {
	position: absolute;
	top: 10px;
	left: 10px;
}

.package-list-page .selectize-control {
	min-width: 190px !important;
}

#typeTicketOptions {
	width: 50%;
}