/**
 * CSS for Halls, Venues
 */

.halls-filter-options .filter-title {
	font-size: 14px;
	font-weight: bold;
}

.a-venue-hall {
	border: 1px solid #B9B9B9;
	margin: 0 10px 15px 0;
	display: inline-block;
	width: 250px;
}

.a-venue-hall .partner-text .text-success {
	padding: 0 8px;
	border: 1px solid #468847;
}

.a-venue-hall .partner-text .text-danger {
	padding: 0 8px;
	border: 1px solid #B94A48;
}

.a-venue-hall .title {
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.a-venue-hall .venue-name {
	text-align: center;
	padding: 3px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #F5F5F5;
}

.a-venue-hall a {
	cursor: pointer;
}

.small-font {
	font-size: 16px;
	font-weight: 400;
}

.venue-hall-img-wrap {
	height: 165px;
}

.venue-hall-img-wrap img {
	max-height: 100%;
	width: 100%
}

.venue-hall-list-option-wrap {
	text-align: center;
	border: 1px solid #DDDDDD;
}

.venue-menu,
.venue-img,
.venue-hall-img {
	display: inline-block;
	margin: 15px 20px 0 0;
	padding: 10px;
	border: 1px solid #C9C9C9;
	text-align: center;
	vertical-align: top;
}

.venue-menu img,
.venue-img img,
.venue-hall-img img {
	max-width: 240px;
	max-height: 180px;
}