/**
 * CSS FOR REVIEWS SECTION
 */
.a-review:hover {
	background-color: #F5F5F5;
	cursor: pointer;
}

.a-review {
	position: relative;
}

.a-review .review-options {
	display: none;
}

.a-review:hover .review-options {
	display: inline-block;
}

.review-options {
	display: inline-block;
	position: absolute;
	margin-top: -25px;
	right: 30%;
	z-index: 1000;
}

.review-options .option {
	margin-right: 10px;
}

.review-reply {
	padding: 10px;
	background-color: #DDDDDD;
	border: #333333;
}

.new-image{
	border: 5px solid white;
}
.image-selected{
	opacity: 0.7;
	border: 5px solid green;
}
.info-box {
	padding: 10px 6px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
	word-break: break-all;
	-ms-word-break: break-all;
}
.head-color {
	color: #2a6496;
}