.a-add-on {
	border: 1px solid #C9C9C9;
	background-color: #F5F5F5;
}

.a-add-on img {
	width: 100%;
	height: 150px;
}

.a-add-on .title {
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
}

.a-add-on .status {
	font-size: 12px;
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 3px 6px;
}

.a-add-on .status.active {
	color: #F5F5F5;
	background-color: #3C763D;
}

.a-add-on .status.inactive {
	color: #F5F5F5;
	background-color: #A94442;
}

.a-add-on .pricing {
	font-size: 16px;
	padding-top: 5px;
}

.a-add-on .range-info {
	cursor: pointer;
	color: #979797;
}

.ao-option-container {
	border: 1px solid #EEEEEE;
	border-radius: 4px;
}

.ao-option-data {

}

.ao-option-img-wrap {
	height:180px;
}

.ao-option-img {
	height: 100%;
	max-width: 100%;
}

.ao-add-on-img-wrap {
	height:120px;
}

.ao-add-on-img {
	height: 100%;
	max-width: 100%;
}

.ao-option-price-worth {
	color: #ED3E72;
}

.ao-option-price-worth {
	color: #808080;
	text-decoration: line-through;
}

.ao-add-on-price {
	color: #ED3E72;
}

.ao-add-on-wrap {
	border: 1px solid #EEEEEE;
	border-radius: 4px;
	padding: 10px;
	overflow: hidden;
}

.ao-add-on-wrap-enabled {
	border-color: #30AC15;
}

.ao-add-on-title {
	line-height: 20px;
	font-size: 14px;
	height: 40px;
	overflow: hidden;
}

.ao-add-on-btn-enable,
.ao-add-on-btn-enable:hover,
.ao-add-on-btn-enable:active,
.ao-add-on-btn-enable:focus {
	color: #30AC15;
	border: 1px solid #30AC15;
	text-decoration: none;
}

.ao-add-on-btn-disable,
.ao-add-on-btn-disable:hover,
.ao-add-on-btn-disable:active,
.ao-add-on-btn-disable:focus {
	color: #666666;
	border: 1px solid #666666;
	text-decoration: none;
}

.ao-add-on-btn-enable,
.ao-add-on-btn-disable {
	font-size: 14px;
	line-height: 20px;
	padding: 2px 12px 2px 10px;
	border-radius: 10px;
	display: inline-block;
}

.ao-add-on-wrap .enabled-label {
	position: absolute;
	color: #FEFEFE;
	background-color: #5CB85C;
	top: 10px;
	border: 1px solid #5CB85C;
	left: -50px;
	z-index: 999;
	font-size: 14px;
	font-weight: 600;
	padding: 3px 45px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	width: 150px;
	overflow: hidden;
}