.items-body {
	height: 450px;
	overflow-y: auto;
	border: 1px solid #CCCCCC;
	border-top: none;
}

.reorder-button {
	position: relative;
	left: 10%;
	right: 30%;
	margin-top: 2%;
	width: 60%;
	height: 40px;
}

.new-priority {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}

.heading {
	font-weight: 700;
	font-size: 16px;
	margin: 15px auto;
	color: blue;
	text-align: center;
	padding: 5px 5px 19px 20px;
	border-bottom: 1px groove white;
}

.left { position: relative;
	text-align: center;
	float: left;
	width: 60%
}

.right { position: relative;
	text-align: center;
	float: left;
	width: 15%;
}

.center {
	position: relative;
	text-align: left;
	float: left;
	width: 25%;
}

.item-container {
	position: relative;
	width: 80%;
	height: 100%;
	float: left;
}

.item-wrap {
	position: relative;
	width: 100%;
	padding: 0;
}

.name {
	font-weight: 800;
	font-size: 15px;
}

.code {
	margin-left: 2px;
	font-weight: 600;
	font-size: 14px;
}

.venue-name {
	text-align: left;
	font-weight: 500;
	font-size: 14px;
}

.location {
	text-align: left;
	font-weight: 500;
	font-size: 15px;
}

.old-priority {
	text-align: center;
	position: relative;
	margin-top: 20px;
}

/* Header */
.table-header {
	font-weight: bold;
	font-size: 15px;
	background-color: #CCCCCC;
	padding: 5px 0;
	text-align: center;
}

.header-items li {
	display: inline-block;
}

/*
.header-items li:first-child {
	margin-left: 5%;
}

.header-items li:nth-child(2) {
	margin-left: 27%;
}

.header-items li:nth-child(3) {
	margin-left: 27%;
}

.header-items li:last-child {
	margin-left: 8%;
}
*/
.reorder-panel li {
	list-style: none;
}

.fixed-heights {
	padding: 0;
}

.fixed-heights li {
	height: 60px;
	border-bottom: 1px groove white;
	text-align: center;
	padding: 0;
}

.new-priorities li {
	padding-top: 20px;
}

.btn-remove-item {
	margin-top: 20px;
}

.reorder-wrap {
	background: #FFFFFF;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.reorder-wrap .header {
	padding-bottom: 5px;
	text-align: center;
	text-transform: capitalize;
}

.reorder-wrap .header span {
	width: 100%;
	padding: 10px 20px;
	border-bottom: 2px solid #EEEEEE;
}

.reorder-wrap .filter-wrap {
	width: 100%;
	margin: 20px auto;
	padding: 15px;
}

.reorder-wrap .btn-reordering-next {
	border: 1px solid;
	color: #11BD11;
	background: #FFFFFF;
	transition: all 0.5s ease;
}

.reorder-wrap .btn-reordering-next:hover {
	background: #12CD12;
	color: #FFFFFF;
	border: 1px solid #12CD12;
}

.reorder-wrap .error-box {
	padding: 10px;
	margin: 15px auto;
	color: #FFFFFF;
	background: #F15A5A;
	text-align: center;
	font-size: 16px;
}

.reorder-wrap .error-box a, .error-box.close {
	color: white;
	opacity: 1;
}

.reorder-error-wrap {
	width: 100%;
	height: 550px;
	box-shadow: 1px 0 3px rgba(125, 125, 125, 0.5);
	color: #F12222;
}

.reorder-error-wrap .error-message {
	text-align: center;
	font-stretch: extra-expanded;
}

.reorder-error-wrap .error-message span {
	color: #0000FF;
}

.btn-go-back {
	margin-top: 20px;
	background: #52CD52;
	color: #FFFFFF;
	padding: 10px 20px;
}

.reorder-panel .btn-back {
	padding: 6px 12px;
	font-size: 14px;
	color: #FFFFFF;
	background: #FF5E6F;
}

.reorder-panel .btn-back:hover {
	color: #FFFFFF;
}

