.form_wizard .stepContainer {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0 solid #CCCCCC;
	overflow-x: hidden
}

.wizard_horizontal ul.wizard_steps {
	display: table;
	list-style: none;
	position: relative;
	width: 100%;
	margin: 0 0 20px
}

.wizard_horizontal ul.wizard_steps li {
	display: table-cell;
	text-align: center
}

.wizard_horizontal ul.wizard_steps li a,
.wizard_horizontal ul.wizard_steps li:hover {
	display: block;
	position: relative;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	color: #666666
}

.wizard_horizontal ul.wizard_steps li a:before {
	content: "";
	position: absolute;
	height: 4px;
	background: #CCCCCC;
	top: 20px;
	width: 100%;
	z-index: 4;
	left: 0
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
	background: #CCCCCC
}

.wizard_horizontal ul.wizard_steps li a .step_no {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100px;
	display: block;
	margin: 0 auto 5px;
	font-size: 16px;
	text-align: center;
	position: relative;
	z-index: 5
}

.wizard_horizontal ul.wizard_steps li a.selected:before,
.step_no {
	background: #34495E;
	color: #FFFFFF
}

.wizard_horizontal ul.wizard_steps li a.done:before,
.wizard_horizontal ul.wizard_steps li a.done .step_no {
	background: #1ABB9C;
	color: #FFFFFF
}

.wizard_horizontal ul.wizard_steps li:first-child a:before {
	left: 50%
}

.wizard_horizontal ul.wizard_steps li:last-child a:before {
	right: 50%;
	width: 50%;
	left: auto
}

.wizard_verticle .stepContainer {
	width: 80%;
	float: left;
	padding: 0 10px
}

.actionBar {
	width: 100%;
	border-top: 1px solid #DDDDDD;
	padding: 10px 5px;
	text-align: right;
	margin-top: 10px
}

.actionBar .buttonDisabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	box-shadow: none
}

.actionBar a {
	margin: 0 3px
}

.form_wizard .loader {
	display: none
}

.form_wizard .msgBox {
	display: none
}

.wizard_steps li {
	width: 20% !important;
}

.wizard_steps li:hover {
	display: table-cell !important;
}

.wizard_steps a {
	text-decoration: none;
}

.categorized-services-wrap label {
	width: 100%;
}

#ticketInfo table {
	table-layout: fixed;
}

#ticketInfo table td {
	word-wrap: break-word;
}