.wizard-steps-service-tag-wrap li {
	width: 10% !important;
}

.wizard-steps-service-tag-wrap {
	margin-bottom: 10px !important;
}

.wizard-steps-service-tag-wrap a {
	cursor: pointer !important;
}

.recommend-this-btn {
	width: 100%;
	background-color: #D2D2D2;
	color: black;
	border-radius: 0;
}

.recommended-btn {
	width: 100%;
	background-color: #ED3E72;
	border-radius: 0;
	font-weight: bold;
	color: #F3F3F3;
}

.recommend-this-btn:hover {
	cursor: pointer;
}

.recommended-btn:hover {
	cursor: pointer;
	color: #FFFFFF;
}

.remove-btn {
	width: 100%;
	background-color: #DCDCDC;
	border-radius: 0;
	font-weight: bold;
	color: #6B6767;
}

.reco-options-price-filter-wrap {
	display: inline-block !important;
}

.ribbon-reco {
	position: absolute;
	left: -8px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 90px;
	height: 90px;
	text-align: right;
}

.ribbon-reco span {
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 115px;
	display: block;
	background: #79A70A;
	background: linear-gradient(#9BC90D 0%, #79A70A 100%);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 25px;
	left: -21px;
}

.ribbon-reco span::before {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	z-index: -1;
	border-left: 3px solid #79A70A;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #79A70A;
}

.ribbon-reco span::after {
	content: "";
	position: absolute;
	right: 0;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid #79A70A;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #79A70A;
}

.pink span {
	background: linear-gradient(#ED7EA2 0%, #ED3E72 100%);
}

.pink span::before {
	border-left-color: #ED3E72;
	border-top-color: #ED3E72;
}

.pink span::after {
	border-right-color: #ED3E72;
	border-top-color: #ED3E72;
}

.pink-btn {
	color: #ED3E72 !important;
}

.col-half-offset {
	margin-left: 4.166666667%;
}

/* Categories */
.item-sub-cats {
	margin-top: 5px;
}

.item-sub-cats li {
	margin-bottom: 0;
}

.item-sub-cats li:last-child {
	margin-bottom: 0;
}

.item-sub-cats li a {
	color: #595959;
	text-transform: capitalize;
}

.item-sub-cats li.active a {
	color: #ED3E72;
}

.item-sub-cats li.active .count {
	color: #ED3E72;
}

.item-sub-cats li.active > .sub-cats a {
	color: #292929;
}

.item-sub-cats li.active > .sub-cats .count {
	color: #292929;
}

.item-sub-cats li span.disabled {
	color: #9F9F9F;
}

.collection-category-filter .item-sub-cats li span.disabled {
	color: #ED3E72;
}

.item-sub-cats .sub-cats {
	margin: 0 0 10px 15px;
}

.item-sub-cats li:last-child .sub-cats {
	margin-bottom: 0;
}

.item-sub-cats li.link-filter-actions a {
	color: rgb(68, 138, 255);
}

.item-child-cats li {
	list-style: none;
	padding-left: 16px;
	font-size: 13px;
}

.item-child-cats li.active a,
.item-child-cats li.active .count {
	color: #ED3E72;
}