/**
 * COMPLETE TICKETS PAGE REALTED CSS
 */

/* Tickets list */

.ticket-wrap {
	margin-bottom: 30px;
	border: 1px solid #D3D3D3;
	background-color: #F5F5F5;
}

.ticket-wrap:hover {
	background-color: #FFFFFF;
	box-shadow: 0 0 6px #C056BB;
}

/* A ticket */
.ticket-wrap .top-sec {
	margin-bottom: 15px;
	padding: 6px 0;
	position: relative;
	background-color: #E6E6E6;
}

.ticket-wrap .top-sec-list {
	margin-bottom: 5px;
	position: relative;
	background-color: #E6E6E6;
}

.ticket-wrap .sub-sec-title {
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
}

.ticket-wrap .sub-sec-value {
	font-size: 16px;
	font-weight: bold;
	color: #292929;
}

.ticket-wrap .ticket-bottom-wrap {
	font-size: 12px;
	color: #000000;
	padding: 5px;
}

.ticket-wrap .ticket-update-info {
	color: #00A000;
	padding-left: 10px;
	cursor: pointer;
}

/* Status colours */
.st-1 {
	color: #4137D5;
}

.st-2 {
	color: #C5A500;
}

.st-3 {
	color: #09A304;
}

.st-4 {
	color: #0F7624;
}

.st-5 {
	color: #CD1818;
}

.st-6 {
	color: #FF7B7B;
}

.st-8 {
	color: #16B64A;
}

.st-9 {
	color: #E02027;
}

.st-12 {
	color: #2DB4B6;
}

.st-13 {
	color: #E02027;
}

.st-17 {
	color: #FF5100;
}

.st-18 {
	color: #000AAC;
}

.st-19 {
	color: #6B6B6B;
}

/* Status BG colours */
.st-bg-1 {
	color: #669ED0;
}

.st-bg-2 {
	color: #9A964A;
}

.st-bg-3 {
	color: #43B65B;
}

.st-bg-4 {
	color: #0F7624;
}

.st-bg-5 {
	color: #CD1818;
}

.st-bg-6 {
	color: #FF5FB7;
}

.st-bg-7 {
	color: #000000;
}

.st-bg-8 {
	color: #16B64A;
}

.st-bg-9 {
	color: #E02027;
}

.st-bg-12 {
	color: #2DB4B6;
}

.st-bg-13 {
	color: #E02027;
}

.ticket-wrap .mid-sec {
	font-size: 16px;
}

.ticket-wrap .bottom-sec {
	padding: 6px 0;
	background-color: #E6E6E6;
}

.ticket-wrap .mappings li:after {
	content: ',';
}

.ticket-wrap .mappings li:last-child:after {
	content: '';
}

/* Filter options */
.filter-group {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #AEC1D8;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #EBF3FD;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
}

.filter-group:first-child {
	margin-top: 15px;
}

.filter-title {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #919191;
}

.filter-group-options {
	padding-top: 8px;
}

.filter-option label {
	font-size: 16px;
	font-weight: normal;
	margin-right: 6px;
}

.filter-option input {
	margin-right: 8px;
}

.filter-option .hint {
	font-size: 12px;
}

.filter-date {
	font-size: 12px;
	width: 90px;
	padding: 5px;
}

.filter-creation-start-time,
.filter-creation-end-time,
.filter-payment-done-start-time,
.filter-payment-done-end-time {
	font-size: 10px;
	font-size-adjust: inherit;
	font-weight: bold;
	width: 93px;
	padding: 3px;
}

.filter-anlytics-date {
	font-size: 12px;
	padding: 4px;
}

.filter-followup-date {
	font-size: 10px;
}

.filter-anlytics-creation-start-time {
	font-size: 14px;
	font-size-adjust: inherit;
	font-weight: bold;
	padding: 3px;
}

.filter-anlytics-creation-end-time {
	font-size: 14px;
	font-size-adjust: inherit;
	font-weight: bold;
	padding: 3px;
}

.filter-followup-start-time {
	font-size: 10px;
	font-size-adjust: inherit;
	font-weight: bold;
	padding: 3px;
}

.filter-followup-end-time {
	font-size: 10px;
	font-size-adjust: inherit;
	font-weight: bold;
	padding: 3px;
}

.info-specifications {
	color: grey;
}

.filter-date-btn-wrap {
	margin: 5px 0 0 5px;
	vertical-align: top;
}

.mappings-list li:after {
	content: ',';
}

.mappings-list li:last-child:after {
	content: '';
}

/* Ticket - view details begin */
.ticket-details-warp .panel-body {
	position: relative;
}

.ticket-mappings-wrap select {
	min-width: 180px;
}

.subsec-add-mapping {
	margin-bottom: 10px;
}

.mapping-controls {
	margin-left: 20px;
}

.mapping-controls li {
	display: inline-block;
	margin-right: 10px;
}

.mapping-controls li:last-child {
	margin-right: 0;
}

h4.sec-sub-title {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.selectize-control {
	min-width: 200px;
}

.deleted-mapping {
	text-decoration: line-through;
}

/* Ticket - view details end */
.ticket-name-link {
	cursor: pointer;
	text-decoration: underline;
	color: #000000;
}

.ticket-booking-wrap {
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #BEBEBE;
	background-color: #FDFDFD;
}

.ticket-booking-wrap:last-child {
	margin-bottom: 0;
}

.ticket-booking-wrap tr > td:first-child {
	font-weight: bold;
}

.action-toggle-button-wrap {
	padding: 5px;
}

/* ticket notifications */
.ticket-mapping-list td.ticket-notifications {
	display: block;
	overflow-y: scroll;
	max-height: 150px;
	padding: 0 15px;
}

/* Modals */
.email-body {
	height: 115px;
}

.dash-analytics-table-overflow {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 350px;
}

.email-sig {
	height: 70px;
}

/* Ticket updates */
.tkt-update-act {
	cursor: pointer;
	width: 100px;
}

.status-updates-wrap {
	padding: 10px;
	color: #FFFFFF;
	background-color: #595959;
	border-bottom: 1px solid #C9C9C9;
}

.status-updates-wrap .auto-followup-reminder {
	background-color: blue;
}

.status-updates-wrap .bg-auto-update {
	background-color: #369DBF;
}

.status-updates-wrap li {
	font-size: 13px;
	margin-bottom: 4px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #F5F5F5;
}

.status-updates-wrap li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}

.ticket-booking-wrap .booking-details {
	padding: 10px 5px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
}

.ticket-booking-wrap .info-box {
	padding: 10px 6px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
	word-break: break-all;
	-ms-word-break: break-all;
}

.ticket-booking-wrap .adv-paid {
	color: #00A000;
}

.ticket-booking-wrap .adv-unpaid {
	color: #FF0011;
}

#show-avl-info {
	cursor: pointer;
}

#followup-section .followup-details-wrap {
	font-size: 15px;
	background: #F1F1FF;
	padding: 5px 10px;
	margin-top: 10px;
	color: #111111;
	box-shadow: 1px 0 2px rgba(0, 0, 0, 0.25);
}

#followup-section .btn-followup-done {
	color: #90EE90;
	background: #FFFFFF;
}

.followup-details-wrap .small-label {
	color: #1011FA;
}

#followup-section .btn-followup-delete {
	color: #ED4545;
	background: #FFFFFF;
}

#followup-section .btn-followup-edit {
	color: #45BBED;
	background: #FFFFFF;
}

#followup-section .panel-body {
	padding-top: 10px
}

#followup-tab {
	border: none;
	margin-bottom: 10px;
}

#followup-tab li a {
	padding: 4px;
	color: #333333;
	cursor: pointer;
	background: #F5F5F5;
}

#followup-tab .active a {
	cursor: default;
	background: #2DC553;
	color: #F5F5F5;
}

.evibe-success {
	margin-left: 5px;
	background: #2DC553;
	padding: 6px;
	color: #FFFFFF;
}

#ticketFollowupAction {
	width: 120px;
}

#ticketFollowupAction a {
	cursor: pointer;
}

.btn-auto-confirm {
	background: #1EBF53;
	color: #F9F9F9;
	border: 1px solid #1EBF53;
	cursor: pointer;
}

.btn-auto-confirm:hover {
	background: #16B64A;
	color: #F9F9F9;
}

.btn-auto-cancel {
	background: #E02027;
	border: 1px solid #E02027;
	color: #F9F9F9;
	cursor: pointer;
}

.btn-auto-cancel:hover {
	background: #D61F1F;
	color: #F9F9F9;;
}

.ticket-booking-image {
	margin-top: 5px;
	margin-right: 10px !important;
	height: 100px;
	width: 150px;
	border: 1px solid #D9D9D9;
}

a.booking-gallery-link, a.delete-image-link {
	text-decoration: none;
}

.booking-details .img-wrap {
	position: relative;
}

.booking-details .delete-image {
	position: absolute;
	font-size: 17px;
	top: -4px;
	right: 3px;
	color: #D2322D;
}

#sendUpdatedReceipt {
	background-color: #191970;
	color: #FFFFFF;
}

#sendUpdatedReceipt:hover {
	background: #000062;
}

.delivery-wrap {
	margin: 10px 25px 15px 0;
	display: inline-block;
}

.delivery-wrap img {
	border: 1px solid #D9D9D9;
	border-bottom-color: #C5BBD2;
	width: 220px;
	height: 225px;
}

.delivery-wrap .footer {
	text-align: center;
	width: 220px;
	height: 45px;
	background: #C5BBD2;
	padding: 5px 2px;
}

.load-hot-ticket-data-body-wrap, .load-cold-ticket-data-body-wrap, .load-medium-ticket-data-body-wrap, .load-unmapped-ticket-data-body-wrap {
	background: #34495E;
	min-height: 550px;
}

.loader {
	position: absolute;
	top: 50%;
	left: 44%;
}

.line {
	animation: expand 1s ease-in-out infinite;
	border-radius: 10px;
	display: inline-block;
	transform-origin: center center;
	margin: 0 3px;
	width: 1px;
	height: 25px;
}

.line:nth-child(1) {
	background: #27AE60;
}

.line:nth-child(2) {
	animation-delay: 180ms;
	background: #F1C40F;
}

.line:nth-child(3) {
	animation-delay: 360ms;
	background: #E67E22;
}

.line:nth-child(4) {
	animation-delay: 540ms;
	background: #2980B9;
}

@keyframes expand {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(2);
	}
}

.container-wrap {
	margin: 0 0 !important;
}

.ticket-list-filters {
	background-color: #F1F1F1;
}

.load-hot-ticket-data-body, .load-medium-ticket-data-body, .load-cold-ticket-data-body, .load-unmapped-ticket-data-body {
	background-color: #F1F1F1;
}

.load-hot-ticket-data-title {
	font-size: 14px;
	background-color: #E6E6E6;
	color: #000000;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.load-medium-ticket-data-title {
	font-size: 14px;
	background-color: #E6E6E6;
	color: #000000;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.load-cold-ticket-data-title {
	font-size: 14px;
	background-color: #E6E6E6;
	color: #000000;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.load-unmapped-ticket-data-title {
	font-size: 14px;
	background-color: #E6E6E6;
	color: #000000;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.ticket-list-details {
	width: 100%;
	height: 82vh;
	padding-right: 10px;
	overflow: scroll;
	overflow-y: hidden;
}

.ticket-list-details-wrap {
	width: 1500px;
}

.load-hot-ticket-data, .load-medium-ticket-data, .load-cold-ticket-data, .load-unmapped-ticket-data {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
}

.tickets-list-new {
	padding: 0 5px;
	padding-right: 3px;
	height: 68vh;
	overflow-x: hidden;
	margin-right: 2px;
	float: left;
	background: #E6E6E6;
	overflow-y: scroll;
	width: 100%;
}

.tickets-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

.tickets-list::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}

.tickets-list::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(204, 200, 206, 0.08);
	background-color: #979797;
}

.ticket-wrap {
	overflow: hidden;
}

.ticket-wrap-li {
	margin-bottom: 10px;
	background-color: #FFFFFF;
	border: 0;
}

.ticket-wrap-li:hover {
	box-shadow: 0 0 0 #F4F4F4;
}

.ticket-wrap-li .sub-sec-value {
	font-size: 12px;
	font-weight: 500;
}

.ticket-wrap-li .top-sec {
	margin-bottom: 5px;
}

.ticket-wrap-li .top-sec-list {
	background-color: #FFFFFF;
}

.mid-sec-buttons, .mid-sec-buttons .btn-xs {
	font-size: 11px;
}

.ticket-list-filters {
	height: 53px;
	position: relative;
}

.filter-title-top-bar {
	position: absolute;
}

#searchForm {
	left: 1%;
}

.filter-date-top-bar {
	left: 24%;
}

.filter-status-top-bar {
	left: 41%;
}

#resetAllFilters {
	left: 51%;
}

.add-ticket-btn {
	left: 60%;
}

.filter-options-title-top-bar {
	padding: 12px;
	height: 43px;
	background-color: #717171;
	color: #FFFFFF;
}

.ticket-list-status-box {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #F9F9F9;
}

.status-inner-short-text {
	padding: 9px;
}

.ticket-status-info-bar {
	margin-top: 5px;
	background-color: #F1F1F1;
	width: 32%;
}

.follow-up-lapsed-box {
	color: #E02027;
	padding: 0 0 5px 8px;
}

.next-follow-up-box {
	color: #B3A620;
	padding: 0 0 5px 8px;
}

.status-bar-info-icon {
	padding: 4px;
}

.align-mid {
	vertical-align: middle;
}

.ticket-list-seach-box {
	font-size: 12px;
	width: 230px;
}

.name-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ticket-fallout-feedback,
.ticket-invalid-email {
	padding: 5px 10px;
}

.fallout-feedback-title {
	font-weight: 600;
}

.pad-r-110 {
	padding-right: 110px;
}

.finance-log-wrap {
	border: 1px dotted #868686;
	padding: 5px;
	margin: 10px 20px;
}

.btn-icon {
	padding: 5px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

/* === ticket benefits === */
.invite-wrap {
	padding: 10px 10px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
}

.invite-img {
	width: 100%
}

.invite-img-wrap {
	width: 120px;
}

@keyframes sliding-keyframes {
	0%   { left: -60px; opacity:0;}
	20%   { left: -45px; opacity:0.1;}
	40%   { left: -23px; opacity:0.23;}
	60%   { left: -5px; opacity:0.5;}
	85%  { left: 3px;opacity:0.75; }
	100% { left: 0px;opacity:1; }
}

.slide-image {
	position: relative;
	animation-name: sliding-keyframes;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}