<div style="background-color:#FFFFFF;margin-top:30px;padding:20px">
	<ul style="display:table;table-layout:fixed;padding:0;margin:0;list-style:none;width:100%">
		<li style="display:table-cell;">
			<div><b>Order ID</b></div>
			<div>@orderId@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Provider</b></div>
			<div>@evtMng@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Order Amount</b></div>
			<div>Rs. @ordAmt@</div>
		</li>
		@advancePaidMarkup@
	</ul>
	<div style="margin-top:15px;">
		<div><b>Order Time</b></div>
		<div>@partyDateTime@</div>
	</div>
	<div style="margin-top:15px;">
		<div><b>Order Details</b></div>
		<div>@bookingInfo@</div>
	</div>
</div>