<div style="background-color:#FFFFFF;padding:20px;">
	<div>
		<div style='float:left;'>
			<div>
				<a href='http://evibe.in'>
					<img src='http://gallery.evibe.in/img/logo/logo_evibe.png' alt='evibe.in'>
				</a>
			</div>
		</div>
		<div style='float:right;'>
			<div><i>Date:</i> @date@</div>
			<div style="padding-top:4px;"><i>Phone:</i> @evibePhone@</div>
		</div>
		<div style='clear:both;'></div>
	</div>
	<hr>
	<div style="font-size:14px;line-height:22px;">
		<div style="margin-top:30px;">
			<p>Namaste @custName@,</p>
			<p>
				<span>All the agreed party arrangements are available for your party slot.</span>
				<span style="background-color:#FACA39;padding:4px;">Please pay the total advance of <b>Rs. @advanceAmt@</b> by <b>@deadline@</b> to complete your booking.</span>
				<span>Otherwise your order will be automatically cancelled as we cannot hold the slot for longer period.</span>
			</p>
			<div style="padding:30px 0 15px; text-align:center;">
				<a href="@pgLink@"
						style="font-size:20px;text-decoration:none;background-color:#4584EE;color:#FFFFFF;border-color:#4CAE4C;padding:8px 20px;border-radius:4px;">
					Click To Pay Now
				</a>
				<div style="padding-top: 12px; font-weight: 500; color: #4841FF;">
					(Please use Google Chrome for payment.)
				</div>
			</div>
		</div>
		<div style="margin-top:15px;">
			Thanks for choosing evibe.in to book your party. We wish you a wonderful and memorable party.
		</div>
		<div style="margin:15px 0;">
			@thanks@
			<div>Team Evibe</div>
		</div>
	</div>
</div>
<div style="background-color:#ffffff;padding:20px;margin-top:30px;">
	<div style="color:#ef3e75;text-transform:uppercase;font-size:14px;font-weight:bold;">Party Details</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Occasion</b></div>
			<div>@eventName@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Party Date Time</b></div>
			<div>@partyDateTime@</div>
		</li>
	</ul>
</div>