<div style="background-color:#ffffff;padding:20px;margin-top:30px;">
	<div style="color:#ef3e75;text-transform:uppercase;font-size:14px;font-weight:bold;">Your Information</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Name</b></div>
			<div>@custName@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Phone</b></div>
			<div>@custPhone@</div>
		</li>
	</ul>
</div>