<div style="background-color:#ffffff;margin-top:30px;padding:20px;">
	<div style="color:#ef3e75;text-transform:uppercase;font-size:14px;font-weight:bold;">Terms of booking</div>
	<ul style="list-style-type:decimal;padding:0 15px 0 20px;font-size:13px;">
		<li>All the order details and amount agreed are for direct clients only. Third party transactions are strictly not allowed and is subjected to high penalty.</li>
		<li style="padding-top:5px">All the services booked are valid for party duration of 3 - 4 hours until and unless it is explicitly mentioned.</li>
		<li style="padding-top:5px">Remaining balance payment needs to done in cash only, after your event is completed.</li>
		<li style="padding-top:5px">All the decoration items are on hire basis only. Extra charges are applicable if you want to own it.</li>
		<li style="padding-top:5px">Booking does not include any furniture and fixture.</li>
		<li style="padding-top:5px">Anything not mentioned in order details will cost extra accordingly.</li>
		<li style="padding-top:5px">It is your responsibility to ensure sufficient time is available to execute all the order details mentioned.</li>
		<li style="padding-top:5px">It is your responsibility to ensure that all necessary permissions / copyrights and authorizations are in place.</li>
		<li style="padding-top:5px">It is your responsibility to take care of all your belongings including gifts. We cannot be held liable for any of your assets.</li>
		<li style="padding-top:5px">Although we use all reasonable safety precautions, we cannot be held liable for any casualties arising at any stage.</li>
		<li style="padding-top:5px">Although we have a policy for execution team to not consume any of the food items served at your party, it is your responsibility to ensure and instruct the same on your party date.</li>
		<li style="padding-top:5px">We will use all reasonable endeavors to meet the obligations in a prompt and efficient manner, however we will not accept responsibility for failure or delay caused by circumstances beyond its control.</li>
	</ul>
</div>