/**
 * @author Anji <anji@evibe.in>
 * @since 2 June 2015
 */

/* LIST */
.a-cake {
	margin: 0 20px 20px 0;
	text-align: center;
}

.a-cake img {
	width: 125px;
}

.a-cake .status.active {
	color: #F5F5F5;
	background-color: #3C763D;
}

.a-cake .status.inactive {
	color: #F5F5F5;
	background-color: #A94442;
}
.a-cake .cake-title{
	white-space: nowrap;
	width: 244px;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* DETAILS */
.a-tag {
	border: 1px solid #CCCCCC;
	background-color: #F5F5F5;
	padding: 4px 8px;
	margin: 0 10px 10px 0;
}

.a-tag a {
	color: red;
}

.cake-gallery .img-cnt {
	margin: 0 10px 15px 0;
	font-size: 12px;
	text-align: center;
}

.cake-gallery .gallery-item {
	margin: 0 0 10px 0;
	width: 196px;
	height: 100%;
}

.gal-ctn {
	position: relative;
	height: 160px;
}

.gal-ctn .image-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 4px;
	background-color: rgba(0, 0, 0, 0.37);
	color: #F9F9F9;
}

#modalRejectApproval .modal-content {
	border-radius: 30px 0;
}

#modalRejectApproval .btn, #modalRejectApproval .btn
{
	border-radius: 1px;
}