.accept-image-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */ /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.accept-image-modal .modal-content {
	background-color: #FEFEFE;
	margin: auto;
	padding: 20px;
	border: 1px solid #888888;
	width: 40%;
}

.accept-image-modal .modal-content .thank-you-text {
	color: #868282;
}

.accept-image-modal .modal-content .image {
	width: 50px;
	height: 50px;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}

.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, #818078, transparent);
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}