.modal-tracking-wrap {
	width: 96%;
}

.order-track-form .modal-footer {
	text-align: left;
}

.tracking-header a {
	text-decoration: none;
}

.tracking-body a:hover {
	cursor: pointer;
}

.order-status-wrap {
	position: absolute;
	left: 25%;
	top: 0;
	z-index: 1;
	overflow: hidden;
	width: 40%;
	height: 30px;
	text-align: right;
}

.order-status-wrap span {
	text-align: center;
	width: 100%;
	font-size: 11px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 20px;
	display: block;
	background: #79A70A;
	background: linear-gradient(#9BC90D 0%, #79A70A 100%);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
}

.red span {
	background: linear-gradient(#F70505 0%, #8F0808 100%);
}

.blue span {
	background: linear-gradient(#2989D8 0%, #1E5799 100%);
}

.yellow span {
	background: linear-gradient(#E4D938 0%, #B0B36F 100%);
}

.order-tracking-unavailable-button {
	color: red;
}

.order-tracking-unavailable-button:hover {
	color: red;
}

#partnerUnavailableInput {
	width: 96%;
}